<%= partial "/layouts/partials/header" %>
<!-- #main -->
<section id="main" class="middle wrapper">
  <div class="row row-fluid">
 
 <%= yield %>
   
   
   </div>
</section>
<!-- #main --> 
<%= partial "/layouts/partials/footer" %>