<!-- .site-footer -->
      <footer class="site-footer wrapper" role="contentinfo"> 
        <!-- .row -->
        <div class="row">
        
          
          <!-- #supplementary --> 
          <div id="supplementary" class="row-fluid">
            </div>
          <!-- #supplementary --> 
          
          
          <!-- .site-info -->
          <div class="site-info">Ray Besiga</div>
          <!-- .site-info --> 
          
        </div>
        <!-- .row --> 
      </footer>
      <!-- .site-footer --> 
  </div>
    
  </body>
</html>