---
title: About
---

  <div class="readable-content row-fluid page">
<!-- .hentry -->
    <article class="page hentry">
      
      <!-- .entry-header -->
      <header class="entry-header">
        <h1 class="entry-title">About Me</h1>
      </header>
      <!-- .entry-header -->
      
      
      <!-- .entry-content -->
      <div class="entry-content">
      	
      	<img src="images/site/ray.jpg" alt="profile-image">
        
        <p class="lead">Software Developer, UNICEF Uganda. Ruby on Rails and Django Hacker. Web Development Consultant. Global Health Corps Fellowship 2011-2012.</p>
        <p>As an Engineer, I like to solve problems. I like to work side-by-side with clients to find simple solutions to the problems they encouter. I do this in a minimalistic and efficient manner.</p>

        <p>I like to develop using Ruby on Rails, Python, PHP, SQL, and related technologies to deliver custom, scalable solutions suitable to the clients needs. Client operating procedures are evaluated so as to come up with relevant requirements for the proposed technical solutions. I take every project as an opportunity to learn from my clients, and build long-term relationships with them.</p>
        <p><a href="http://ug.linkedin.com/pub/raymond-besiga/21/14a/9b5/" class="button big navy d3"><i class="icon-linkedin-sign"></i>RESUME</a></p>
        
        <hr>
        
        <h3>Let's socialize!</h3>
        
         <!-- social icons -->
         <ul class="social">
            <li><a class="twitter" href="https://twitter.com/raybesiga">&#95;</a></li>
            <li><a class="linkedin" href="http://ug.linkedin.com/pub/raymond-besiga/21/14a/9b5/">&#118;</a></li>
            <li><a class="google" href="https://plus.google.com/u/0/112863937018219756388">&#107;</a></li>
            <li><a class="vimeo" href="https://vimeo.com/user3501569">&#33;</a></li>
            <li><a class="pinterest" href="http://pinterest.com/raybesiga/"></a></li>
            <li><a class="github" href="https://github.com/raybesiga">&#106;</a></li>
          
        </ul>
        <!-- social icons -->
      
      </div>
      <!-- .entry-content -->
      
      
    </article>
    <!-- .hentry -->
    
</div>