---
title: Contact
---

          
<!-- .row -->
<div class="readable-content row-fluid page">
  
  
  <!-- .hentry -->
  <article class="page type-page hentry">
    
    
    <!-- .entry-header -->	
    <header class="entry-header">
      <h1 class="entry-title">CONTACT</h1>
    </header>
    <!-- .entry-header -->
    
    
    
    <!-- .entry-content -->
    <div class="entry-content">
        
        
        <!--<div class="map">
              <h4>Where am I in this world?</h4>
              <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=little+italy&amp;aq=&amp;sll=36.558188,-86.709595&amp;sspn=3.878053,8.453979&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=Little+Italy,+New+York&amp;t=m&amp;ll=40.71916,-73.997297&amp;spn=0.014702,0.054417&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
        </div>-->
        
          
        <p>Please feel free to contact me about anything.</p>
        
        <!-- .contact-form -->
        <div class="contact-form">
          
            <form id="contact-form" action="send-mail.php" method="post">
              
              <!-- enter your e-mail adress -->
              <input type="hidden" id="to" name="to" value="raybesiga@gmail.com">
              
              <p>
                <label for="name">Your Name</label>
                <input type="text" name="name" id="name" class="required">
              </p>
              
              <p>
                <label for="email">Your Email</label>
                <input type="text" name="email" id="email" class="required email">
              </p>
              
              <p>
                <label for="subject">Subject</label>
                <input type="text" name="subject" id="subject" class="required">
              </p>
              
              <p>
                <label for="message">Your Message</label>
                <textarea name="message" id="message" class="required"></textarea>
              </p>
             
              <p>
                <input type="submit" value="Send it">
                <img class="ajax-loader" src="images/bckg/loader_light.gif" alt="Sending ...">
              </p>
              
            </form>
            
        </div>
        <!-- .contact-form -->
        
        
    </div>
    <!-- .entry-content -->
    
    
  </article>
  <!-- .hentry -->
  
  
  
  
</div>