---
title: Home
---
<div class="readable-content">
  <!-- intro -->
    <div class="intro">
      <h2>Hi! I am a <span class="label">Software Engineer</span> at UNICEF Uganda. Here, I share personal insights on topics that interest me. </h2>
      <p class="launch-wrap"><a href="portfolio.html">VIEW PORTFOLIO</a></p>
    </div>
    <!-- intro -->

    
</div>