---
title: Portfolio
---
<!-- .row -->
<div class="row-fluid page">


<!-- .hentry -->
<article class="page type-page hentry">
  
  
  <!-- .entry-header -->
  <header class="entry-header">
    <h1 class="entry-title">Portfolio</h1>
  </header>
  <!-- .entry-header -->
  
  
  <!-- .entry-content -->
  <div class="entry-content">
  		
        
        <!--FILTERS-->
        <ul id="filters">
          <li class="current"><a href="#" data-filter="*">all</a></li>
          <!-- <li><a href="#" data-filter=".design">design</a></li> -->
          <li><a href="#" data-filter=".coding">coding</a></li>
          <li><a href="#" data-filter=".social">social</a></li>
        </ul>
        <!--FILTERS-->
        
        
        
        <!-- PORTFOLIO -->
        <div class="portfolio-items">
        	
          
          <!-- portfolio-item x2 size -->   
          <!-- <div class="coding hentry x2">
            <div class="media-box">
            	<img src="images/portfolio/11.jpg" alt="portfolio-post">
                <div class="mask">
                	<div class="portfolio-info">
                    	<h3>Machine workers</h3>
                    	<p class="category">an illustration by Dan Matutina</p>
                    </div>
                    <a href="portfolio-single.html"></a>
                </div>
            </div>
          </div> -->
          <!-- portfolio-item x2 size --> 
          <!-- portfolio-item x2 size -->   
          <div class="coding hentry url x2">
            <div class="media-box">
              <img src="images/portfolio/ivybridge.jpg" alt="portfolio-post">
                <div class="mask">
                  <div class="portfolio-info">
                      <h3>Ivybridge Partnership</h3>
                      <p class="category">Web Design, Web Development</p>
                    </div>
                    <a href="http://ivybridgepartnership.com"></a>
                </div>
            </div>
          </div>
          <!-- portfolio-item x2 size --> 

          <!-- portfolio-item - lightbox video -->  
          <div class="social video hentry x2">
            <div class="media-box">
              <img src="images/portfolio/HP.jpg" alt="portfolio-post">
                <div class="mask">
                  <div class="portfolio-info">
                      <h3>To Social Justice</h3>
                      <p class="category">Creative Narrations, HP Digital Stories</p>
                    </div>
                    
                    <!-- lightbox - video --> 
                    <a href="https://vimeo.com/55108380" title="To Social Justice" data-lightbox-gallery="fancybox-item-03" class="lightbox iframe"></a>
                    <!-- lightbox - video -->
                    
                </div>
            </div>
          </div>
          <!-- portfolio-item - lightbox video -->
          
          <!-- portfolio-item -->  
          <div class="coding url hentry x2">
            <div class="media-box">
              <img src="images/portfolio/maamajombo.jpg" alt="portfolio-post">
                <div class="mask">
                  <div class="portfolio-info">
                      <h3>Maamajombo Safaris</h3>
                      <p class="category">Web Design, Web Development</p>
                    </div>
                    <a href="http://www.maamajombo.com"></a>
                </div>
            </div>
          </div>
          <!-- portfolio-item -->    

         

          <!-- portfolio-item - lightbox video -->  
          <div class="social video hentry x2">
            <div class="media-box">
              <img src="images/portfolio/green_dreams.png" alt="portfolio-post">
                <div class="mask">
                  <div class="portfolio-info">
                      <h3>Green Dreams Documentary</h3>
                      <p class="category">Audio Narration for RIO +20</p>
                    </div>
                    
                    <!-- lightbox - video --> 
                    <a href="https://vimeo.com/42756426?badge=0&amp;color=ffffff" title="To Social Justice" data-lightbox-gallery="fancybox-item-03" class="lightbox iframe"></a>
                    <!-- lightbox - video -->
                    
                </div>
            </div>
          </div>
          <!-- portfolio-item - lightbox video -->       
          
           <!-- portfolio-item -->  
          <div class="coding url hentry x2">
            <div class="media-box">
              <img src="images/portfolio/profiles.png" alt="portfolio-post">
                <div class="mask">
                  <div class="portfolio-info">
                      <h3>Profiles International Uganda</h3>
                      <p class="category">Web Design, Web Development</p>
                    </div>
                    <a href="http://profilesinternational.co.ug"></a>
                </div>
            </div>
          </div>
          <!-- portfolio-item -->                                                                                                                                                 
         
          
          
        </div>
        <!-- PORTFOLIO -->
  	  	
        
        
        
  </div>
  <!-- .entry-content -->
  
  
</article>
<!-- .hentry -->



</div>
<!-- .row -->

<!-- InstanceEndEditable -->